/* ==========================================================================
    BLOCK    -- .card
    ELEMENT  -- .card__title
    MODIFIER -- .card--light
   ========================================================================== */

/* ==========================================================================
    FONTS
   ========================================================================== */

@font-face {
	font-family: "Work Sans";
	src: url('fonts/Work_Sans/WorkSans-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: "Open Sans";
	src: url('fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url('fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: "Kalam";
	src: url('fonts/Kalam/Kalam-Bold.ttf') format('truetype');
	font-weight: bold;
}

/* ==========================================================================
    GLOBALS
   ========================================================================== */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--theme-color: #29fca5;
	--text-color: #000000;
	--text-colorDark: #000000;
	--text-colorTheme: #fcfcfc;
	--background-color: #fcfcfc;
}

::selection {
	background: black;
	color: white;
}

body, html {
	font-family: 'Open Sans', sans-serif;
	background: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--text-color);
	font-family: 'Work Sans', 'Open Sans', sans-serif;
}

ul, li {
	list-style: none;
}

p {
	font-size: 1em;
	line-height: 1.8em;
}

a {
	color: var(--text-color);
	margin: 0;
	padding: 0;
	text-decoration: none;
	position: relative;
	z-index: 1;
}

textarea, input, button {
	border: 0;
	outline: none;
}

main {
	width: 100%;
	margin-top: 188px;
}

.main--small {
	margin-top: 88px;
}

.center {
	text-align: center;
}

.always--hidden {
	display: none;
}

hr {
	border: 1px solid var(--theme-color);
}

/* ==========================================================================
    BUTTONS
   ========================================================================== */

.button {
	font-family: 'Work Sans', 'Open Sans', sans-serif;
	display: inline-block;
	font-size: 1.5em;
	padding: 8px 12px;
	font-weight: bold;
	margin: 18px 0;
}

.button--large {
	font-size: 2em;
}

.button--green {
	color: var(--text-color);
	background: var(--theme-color);
	transition: all 0.3s ease-in-out;
}

.button--green:hover {
	box-shadow: 10px 10px 0px 2px var(--text-color);
}

.button--black {
	background: black;
	color: white;
	transition: all 0.3s ease-in-out;
}

.button--black:hover {
	box-shadow: 10px 10px 0px 2px white;
}

/* ==========================================================================
    CONTAINER
   ========================================================================== */

.container {
	max-width: 840px;
	margin: 0 auto;
}

.container--large {
	max-width: 1000px;
}

/* ==========================================================================
    FOOTER
   ========================================================================== */

.footer {
	text-align: center;
	width: 100%;
	background: var(--theme-color);
}

.footer__contact {
	padding: 128px 0 256px 0;
}

.footer__title {
	font-size: 4em;
	padding: 16px 0;
	font-family: 'Work Sans', 'Open Sans', sans-serif;
}

.footer__subtitle {
	padding: 16px 0 32px 0;
	font-size: 2em;
}

.footer__social {
	padding: 32px 0;
	background: #333333;
}

.footer__social ul {
	max-width: 240px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.footer__social a {
	font-size: 2em;
	fill: var(--theme-color);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 12px;
}

.footer__social a:hover {
	fill: white;
}

.footer__copyright {
	color: white;
	padding: 32px 0;
	font-family: 'Work Sans', 'Open Sans', sans-serif;
	font-size: 1.2em;
	background: black;
}

/* ==========================================================================
    NAVIGATION
   ========================================================================== */

.nav {
	padding: 50px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.nav__logo {
	width: 50%;
	font-size: 1em;
	align-self: center;
}

.nav__logo h1{
	display: inline;
}

.nav__navigation {
	width: 50%;
}

.nav__navigation ul {
	display: flex;
	justify-content: flex-end;
	align-self: center;
}

.nav__navigation li {
	padding: 16px;
	list-style-type: none;
}

.nav__link {
	font-size: 1em;
	color: var(--text-color);
}

.nav__link:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 2px;
	left: 0;
	background-color: rgba(41, 252, 165, 0);
	z-index: -1;
	transition: all 0.3s ease;
}

.nav__link:hover:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 7px;
	bottom: 2px;
	left: 0;
	background-color: var(--theme-color);
	z-index: -1;
}

.nav--active {
	font-weight: bold;
}

.nav--icon {
	display: none;
}

.menu--icon {
	display: none;
	position: absolute;
	left: 15px;
	top: 32px;
}

.menu--icon svg {
	fill: var(--text-color);
}

.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: var(--text-color);
	stroke-width: 5.5;
	stroke-linecap: round;
}

.top {
	stroke-dasharray: 40 160;
}

.middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}

.bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 400ms, stroke-dashoffset 400ms;
}

/* ==========================================================================
    HEADER
   ========================================================================== */

.header {
	position: relative;
	margin-top: 120px;
}

.header__blocktext {
	display: inline-block;
	position: relative;
	background: var(--theme-color);
}

.header__blocktext h2 {
	font-size: 2.6em;
	padding: 4px;
	position: relative;
	z-index: 1;
	color: var(--text-colorDark);
}

.header__text {
	font-size: 1.2em;
	padding: 32px 0 0 0;
	max-width: 450px;
	line-height: 2em;
	color: var(--text-color);
}

/* ==========================================================================
    PROJECTS
   ========================================================================== */

#projects {
	background: #333333;
}

.projects h3 {
	font-size: 3em;
	padding: 32px 0 0 0;
	color: white;
}

.projects {
	position: relative;
	top: -175px;
	display: flex;
	justify-content: space-between;
}

.projects__column {
	position: relative;
	width: calc(50% - 50px);
}

.column--left {
	top: 175px;
}

.projectthumb {
	display: block;
	margin: 48px 0;
}

.projectthumb img {
	width: 100%;
	display: block;
}

.projectthumb figcaption {
	color: white;
	background: black;
	padding: 16px 32px;
}

.projectthumb__category {
	display: block;
	font-style: italic;
	opacity: 0.5;
	font-size: 1em;
}

.projectthumb__title {
	font-family: 'Work Sans', 'Open Sans', sans-serif;
	font-weight: bold;
	display: block;
	font-size: 1.5em;
}

.projectthumb__description {
	display: block;
	font-size: 1em;
	padding: 16px 0;
}

.projectthumb__button {
	display: block;
	color: var(--theme-color);
	font-weight: bold;
	padding: 12px 0;
}

.projectthumb__textblock {
	display: inline-block;
	padding-top: 20%;
	margin: 16px 0;
	color: white;
}

/* ==========================================================================
    ABOUT (homepage)
   ========================================================================== */

.about {
	display: flex;
	justify-content: space-between;
	padding: 164px 0;
}

.about__text {
	align-self: center;
	padding-right: 128px;
}

.about__text>div:first-child svg .svg-line {
	transition: all 0.3s ease-in-out;
	transform: scaleX(0);
	opacity: 0;
}

.about__text>div:hover:first-child svg .svg-line:nth-child(2) {
	transition-delay: 0ms;
	transform: scaleX(1);
	opacity: 1;
}

.about__text>div:hover:first-child svg .svg-line:nth-child(3) {
	transition-delay: 50ms;
	transform: scaleX(1);
	opacity: 1;
}

.about__text>div:hover:first-child svg .svg-line:nth-child(4) {
	transition-delay: 100ms;
	transform: scaleX(1);
	opacity: 1;
}

.about__text>div:last-child svg .svg-line {
	transition: all 0.3s ease-in-out;
	opacity: 0;
}

.about__text>div:hover:last-child svg .svg-line {
	opacity: 1;
}

.about__text>div {
	padding: 0 0 32px 0;
	color: var(--text-color);
}

.about__text h3 {
	font-size: 2em;
	padding: 16px 0;
}

.about__image {
	position: relative;
}

.about__image .arrow {
	z-index: 997;
	position: absolute;
	left: -115px;
	top: 10px;
}

.about__image h3 {
	font-family: "Kalam";
	font-size: 3em;
	font-weight: bold;
	padding-bottom: 30px;
}

.about__image img {
	width: 370px;
	background: var(--theme-color);
}

/* ==========================================================================
    CONTACT PAGE
   ========================================================================== */

.contactform {
	padding: 0 0 128px 0;
}

.contactform__form fieldset {
	border: 0;
	width: 100%;
}

.contactform__form fieldset>div {
	display: flex;
	width: 100%;
}

.contactform__form fieldset>div>div {
	width: 50%;
	padding: 16px;
}

.contactform__form fieldset>div>div input {
	display: block;
	width: 100%;
}

.contactform__form label {
	display: block;
	margin: 32px 0 12px 0;
	font-family: 'Work Sans', 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: var(--text-color);
}

.contactform__form fieldset>div>div textarea {
	display: block;
	width: 100%;
}

input {
	background: transparent;
	box-shadow: 5px 5px 0px 2px var(--theme-color);
	border: 5px solid black;
	padding: 16px 8px;
	font-size: 1.2em;
	font-family: 'Work Sans', 'Open Sans', sans-serif;
	color: var(--text-color);
}

input::placeholder {
	font-size: 0.8em;
	font-family: 'Work Sans', 'Open Sans', sans-serif;
	color: var(--text-color);
	opacity: 0.65;
}

input:focus::placeholder {
	visibility: hidden;
}

textarea {
	background: transparent;
	box-shadow: 5px 5px 0px 2px var(--theme-color);
	border: 5px solid black;
	padding: 16px 8px;
	resize: none;
	font-size: 1em;
	font-family: 'Work Sans', sans-serif;
	color: var(--text-color);
}

select{
	width: 100%;
	background: transparent;
	box-shadow: 5px 5px 0px 2px var(--theme-color);
	border: 5px solid black;
	padding: 16px 8px;
	resize: none;
	font-size: 1em;
	font-family: 'Work Sans', sans-serif;
	color: var(--text-color);
}

/* ==========================================================================
    ABOUT PAGE
   ========================================================================== */

.skills {
	position: relative;
	max-width: 980px;
	margin: 0 auto;
	background: white;
	display: flex;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
}

.skills__list {
	font-size: 2em;
	width: 175%;
	position: relative;
	left: -50px;
	padding: 32px 0;
	font-weight: bold;
	color: var(--theme-color);
}

.skills__list li {
	padding: 12px 0 12px 6px;
	margin: 16px 0;
	color: var(--text-color);
	background: var(--theme-color);
}

.skills__text {
	margin: 16px 0 0 0;
	padding: 32px;
	font-size: 1.4em;
	color: var(--text-color);
}

.skills__person {
	width: 240px;
	position: absolute;
	top: -80%;
	right: 100px;
}

.experiences {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 0 128px 0;
	color: var(--text-color);
}

.experiences__double {
	display: flex;
}

.experiences__double>div {
	padding: 0 32px;
}

.experiences__title, .me__title {
	text-align: center;
}

.experiences__title h3, .me__title h3 {
	font-size: 2.5em;
	padding: 0 0 16px 0;
}

.experiences__title p, .me__title p {
	font-size: 1em;
	max-width: 420px;
	margin: 0 auto;
	padding: 0 12px 64px 12px;
}

.experiences__educations h4, .experiences__career h4 {
	text-align: center;
	font-size: 1.4em;
	padding: 32px 0 48px 0;
}

.education, .experience {
	display: flex;
	padding: 0 0 64px 0;
}

.education__location, .experience__location {
	width: 33.33%;
}

.education__location a, .experience__location a {
	font-size: 1em;
	font-weight: bold;
}

.education__location svg, .experience__location svg {
	margin: 0 0 0 6px;
	fill: var(--text-color);
}

.education__location span, .experience__location span {
	display: block;
	padding: 6px 0;
}

.education__description, .experience__description {
	width: 66.66%;
}

.education__description p, .experience__description p {
	font-size: 1em;
	padding: 12px 0;
}

.education__description span, .experience__description span {
	font-size: 1em;
	font-weight: bold;
}

.about__me {
	padding: 128px 0 256px 0;
	color: var(--text-color);
}

.me__contents {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.me__contents>p {
	padding: 32px 12px;
}

.me__content {
	width: 33.33%;
	padding: 32px 0;
}

.me__icon span {
	padding: 0 0 0 12px;
	font-size: 1.2em;
	vertical-align: 16px;
	font-weight: bold;
}

.me__icon svg {
	fill: var(--text-color);
}

.me__description p {
	padding: 12px 0;
}

/* ==========================================================================
    PROJECT PAGE
   ========================================================================== */

.header video {
	padding: 64px 12px 0 12px;
	display: block;
	width: 100%;
	height: auto;
}

.project {
	padding: 0 12px 164px 12px;
}

.project img {
	padding: 32px 0;
}

.project p {
	color: var(--text-color);
	max-width: 640px;
	margin: 16px auto;
	font-size: 1.2em;
}

.project img {
	width: 100%;
}

.project a {
	border-bottom: 1px dashed var(--text-color);
}

.project a:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 2px;
	left: 0;
	background-color: rgba(41, 252, 165, 0);
	z-index: -1;
	transition: all 0.3s ease;
}

.project a:hover {
	border: 0;
}

.project a:hover:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 7px;
	bottom: 2px;
	left: 0;
	background-color: var(--theme-color);
	z-index: -1;
}

/* ==========================================================================
    TABLET
   ========================================================================== */

@media screen and (max-width: 1100px) {
	.skills__list {
		left: 0;
		padding: 32px;
		font-size: 1.8em;
	}
	.skills {
		margin: 0 12px;
		text-align: center;
	}
	.skills__list {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 1000px) {
	.nav {
		justify-content: center;
		padding: 50px 24px;
	}
	.header {
		text-align: center;
	}
	.header__text {
		text-align: left;
		margin: 0 auto;
	}
	.projects {
		padding: 0 12px;
	}
	.projects__column {
		width: calc(50% - 25px);
	}
	.experiences__double {
		display: block;
	}
	.skills__text {
		font-size: 1em;
	}
	.nav__navigation {
		display: block;
		position: fixed;
		background: var(--theme-color);
		width: 100vw;
		height: 100vh;
		padding-top: 15vh;
		top: -125%;
		left: 0;
		z-index: 998;
		transition: all 0.3s ease-in-out;
		opacity: 0;
	}
	.nav__navigation ul {
		flex-wrap: wrap;
		text-align: center;
		height: 75vh;
		font-size: 1.8em;
	}
	.nav__navigation li {
		width: 100%;
	}
	.nav__navigation a {
		display: block;
	}
	.nav {
		justify-content: space-evenly;
	}
	.nav__logo {
		text-align: center;
	}
	.menu--icon {
		display: block;
		z-index: 999;
	}
	.nav--icon:checked~.nav__navigation {
		display: block;
		position: fixed;
		background: var(--theme-color);
		width: 100vw;
		height: 100vh;
		padding-top: 15vh;
		top: 0;
		left: 0;
		z-index: 998;
		opacity: 1;
	}
	.nav--icon:checked~.menu--icon {
		position: fixed;
	}
	.nav--icon:checked~.nav__navigation ul {
		flex-wrap: wrap;
		text-align: center;
		height: 50vh;
		font-size: 1.8em;
	}
	.nav--icon:checked~.nav__navigation li {
		width: 100%;
	}
	.nav--icon:checked~.nav__navigation a {
		display: block;
	}
	.nav--icon:checked~.menu--icon svg {
		transform: rotate(45deg);
	}
	.nav--icon:checked~.menu--icon .top {
		stroke-dashoffset: -64px;
	}
	.nav--icon:checked~.menu--icon .middle {
		transform: rotate(90deg);
	}
	.nav--icon:checked~.menu--icon .bottom {
		stroke-dashoffset: -64px;
	}
}

/* ==========================================================================
    Phone Layout
   ========================================================================== */

@media screen and (max-width: 768px) {
	main {
		margin-top: 94px;
	}
	.header {
		margin-top: 32px;
	}
	.header__blocktext {
		margin: 0 12px;
	}
	.header__blocktext h2 {
		font-size: 1.6em;
	}
	.header__text {
		text-align: center;
		width: 100%;
		font-size: 1em;
	}
	.projects {
		padding: 32px 0;
		top: 0;
		display: block;
	}
	.projects__column {
		margin: 0 auto;
		width: 90%;
	}
	.column--left {
		top: 0;
	}
	.projects h3 {
		font-size: 1.8em;
		text-align: center;
	}
	.projectthumb__textblock {
		display: none;
	}
	.about {
		padding: 64px 0;
		display: block;
		text-align: center;
		margin: 0 auto;
	}
	.about__me {
		padding: 64px 0 128px 0;
	}
	.about__text {
		padding: 0;
	}
	.about__text>div {
		max-width: 360px;
		margin: 0 auto;
	}
	.about__image {
		padding-top: 64px;
	}
	.about__image img {
		width: 95%;
	}
	.about__image .arrow {
		display: none;
	}
	.footer__contact {
		padding: 32px 0 64px 0;
	}
	.footer__title {
		font-size: 2em;
	}
	.footer__subtitle {
		font-size: 1.2em;
	}
	.button--large {
		font-size: 1em;
	}
	.contactform__form fieldset>div {
		display: block;
	}
	.contactform__form fieldset>div>div {
		width: 100%;
	}
	.footer__copyright {
		font-size: 1em;
	}
	.project p {
		font-size: 1em;
	}
	.skills {
		display: block;
	}
	.skills__list {
		text-align: center;
		width: 100%;
	}
	.me__content {
		width: 100%;
		padding: 12px 0;
	}
	.education, .experience {
		display: block;
		padding: 16px 0;
	}
	.education__location, .experience__location {
		width: 100%;
		padding: 0 0 12px 0;
	}
	.education__description, .experience__description {
		width: 100%;
	}
}

/* ==========================================================================
    Dark Theme Enabled
   ========================================================================== */

@media (prefers-color-scheme: dark) {
	:root {
		--theme-color: #29fca5;
		--text-color: #ffffff;
		--text-colorTheme: #ffffff;
		--background-color: #292929;
	}
	.button--green {
		color: var(--text-colorDark);
	}
	.button--green:hover {
		box-shadow: 10px 10px 0 2px var(--text-colorDark);
	}
	.skills {
		background: #333333;
	}
	.skills__list li{
		color: black;
	}
	.nav--icon:checked~.menu--icon svg {
		fill: black;
	}
	.nav--icon:checked~.nav__navigation .nav__link {
		color: black;
	}
	.nav--icon:checked~.menu--icon .line {
		fill: transparent;
		stroke: black;
	}
	input, textarea{
		box-shadow: none;
		border: 2px solid var(--theme-color);
	}
}