/* ==========================================================================
		FONTS
	 ========================================================================== */

@font-face {
  font-family: "Work Sans";
  src: url('/css/fonts/Work_Sans/WorkSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url('/css/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('/css/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Kalam";
  src: url('/css/fonts/Kalam/Kalam-Bold.ttf') format('truetype');
  font-weight: bold;
}

/* ==========================================================================
		GLOBALS
   ========================================================================== */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	font-family: 'Open Sans', sans-serif;
	background: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Work Sans', 'Open Sans', sans-serif;
}

ul, li {
	list-style: none;
}

p {
	font-size: 1em;
	line-height: 1.8em;
}

a {
	color: inherit;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.center{
	text-align: center;
}

/* ==========================================================================
		HEADER
	 ========================================================================== */

header{
	max-width: 1200px;
	margin: 32px auto;
}

/* ==========================================================================
		ASIDE
	 ========================================================================== */
nav a{
	display: block;
	padding: 8px 0;
}

.active{
	font-weight: bold;
}

.profile--icon{
	margin-top: 64px;
	display: block;
}

.profile--icon .icon--circle{
	background: #29fca5;
	display: inline-block;
	width: 33px;
	height: 33px;
	border-radius: 100%;
	color: black;
	font-weight: bold;
	padding: 6px;
	text-align: center;
}

.profile--icon .icon--title{
	padding-left: 6px;
}

/* ==========================================================================
		MAIN
	 ========================================================================== */
#index{
	max-width: 420px;
	margin: 0 auto;
}

.wrapper--flex{
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

.wrapper--full main{
	width: 100%;
}

aside{
	width: 20%;
}

main{
	width: 80%;
	padding: 16px;
	background: white;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
}

main section{
	padding-bottom: 64px;
}

main h2{
	padding-bottom: 12px;
}

hr{
	border: 1px solid black;
}

.admin-home > div{
	margin-bottom: 64px;
}
.message em {
	font-size: 0.8em;
}
.message h3{
	padding-bottom: 16px;
}
.message hr{
	margin: 16px 0;
}

/* ==========================================================================
		FOOTER
	 ========================================================================== */
footer p{
	margin: 0 auto;
	max-width: 1200px;
	text-align: right;
	padding: 16px 0;
}

footer button, footer form{
	display: inline;
}

/* ==========================================================================
		Inputs
	 ========================================================================== */
textarea, input, button, fieldset {
	border: 0;
	outline: none;
}

#loginform label{
	display: block;
	padding: 12px 0;
	font-weight: bold;
}

input {
	background: transparent;
	border: 4px solid black;
	padding: 12px 8px;
	font-size: 1em;
	font-family: 'Work Sans', 'Open Sans', sans-serif;
	color: black;
	width: 100%;
	margin-bottom: 20px;
}

textarea {
	background: transparent;
	border: 4px solid black;
	padding: 12px 8px;
	resize: none;
	font-size: 1em;
	font-family: 'Work Sans', sans-serif;
	color: black;
	width: 100%;
}

select {
	width: 100%;
	background: transparent;
	box-shadow: 5px 5px 0px 2px #29fca5;
	border: 5px solid black;
	padding: 16px 8px;
	resize: none;
	font-size: 1em;
	font-family: 'Work Sans', sans-serif;
	color: black;
}

button{
	font-family: 'Work Sans', 'Open Sans', sans-serif;
	display: inline-block;
	font-size: 1em;
	padding: 8px 12px;
	font-weight: bold;
	margin: 18px 0;
	color: black;
	background: #29fca5;
	transition: all 0.3s ease-in-out;
}

button:hover {
	box-shadow: 6px 6px 0px 2px black;
}

#setupform label{
	margin-top: 16px;
	display: block;
	padding: 12px 0;
}

.container {
	max-width: 840px;
	margin: 0 auto;
}

.container--large {
	max-width: 1000px;
}

.admin-panel{
	background: #333333;
	padding: 16px;
	color: white;
}
.admin-panel a{
	color: white;
	font-weight: bold;
}

.projects__column {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.projectthumb {
	display: inline-block;
	margin: 12px 0;
	width: calc(50% - 12px);
}

.projectthumb figure{
	background: black;
	min-height: 500px;
}

.projectthumb img {
	width: 100%;
	display: block;
	object-fit: cover;
	height: 250px;
}

.projectthumb figcaption {
	color: white;
	background: black;
	padding: 16px 32px;
}

.projectthumb__category {
	display: block;
	font-style: italic;
	opacity: 0.5;
	font-size: 1em;
}

.projectthumb__title {
	font-family: 'Work Sans', 'Open Sans', sans-serif;
	font-weight: bold;
	display: block;
	font-size: 1.5em;
}

.projectthumb__description {
	display: block;
	font-size: 1em;
	padding: 16px 0;
}

.projectthumb__button {
	display: block;
	color: var(--theme-color);
	font-weight: bold;
	padding: 12px 0;
}

.projectthumb__textblock {
	display: inline-block;
	padding-top: 20%;
	margin: 16px 0;
	color: white;
}